UI_WORKING_DIR=test
pset=processDump.py
psetparams=

dataset=/DoubleEG/Run2016B-EcalUncalZElectron-PromptReco-v2/ALCARECO
site=T2_CH_CERN
nEventsMax=1500000000
runrange=
use_parent=

filelist=flist$dataset/list.list

outFiles=ntuple.root,eleIDTree.root

storage_element=
remoteDir=root://eoscms//eos/cms/store/group/dpg_ecal/alca_ecalcalib/ecalelf/ntuples/test/
queue=cmscaf1nd


